:root {
  --base-font-color: #0C1E65;
  --base-link-color: #184AED;
  --base-title-color: #184AED;
  --base-primary-color: #312A68;
  --base-green-color: #00AF68;
  --base-green-secondary-color: #02B66C;
  --base-gray-color: #FAFAFA;
  --base-light-gray-color: #EAEAEA;
  --base-background-color: #F8F8F8;

  // Border
  --border-gray-color: #EFEFEF;


  // Hovers
  --base-green-hover-color: #01D680;

  // Buttons
  --btn-color: #000;
  --btn-bg-color: #FFF;
  --btn-primary-color: #FFF;
  --btn-primary-bg-color: #174AED;
  --btn-primary-bg-over-color: #1041DE;

  // Headers
  --h1-color: var(--base-font-color);
  --h2-color: var(--base-font-color);
  --h3-color: var(--base-font-color);
  --h4-color: var(--base-font-color);
}