---
import PlatformIcon from "imgs/vision-platform.svg?raw";

import "./Platform.less";
---

<div class="platform-wrapper text-center margin-bottom overflow-hidden">
  <div class="content text-center">
    <h2 id="platform" class="uppercase margin-bottom font-normal">CMS Platforma</h2>
    <p>
      <b>Certificate management systém</b> Vám <b>zajistí komplexní správu v oblasti vydávání uživatelských i serverových certifikátů</b> a kvalifikovaných prostředků.<br/><br/>
      Vaše organizace získá přímé napojení na akreditovanou nebo interní certifikační autoritu s možností integrace na centrální zdroj uživatelů a další systémy. <br/><br/>
      Vše probíhá v místě Vaší organizace s maximální možnou automatizací a v souladu s bezpečnostní politikou. <b>Bez nutnosti návštěvy certifikační autority.</b> <br/><br/>
      <b>Velká úspora času. Vydání certifikátu do 3 minut.</b>
    </p>
    <a id="go-to-product" href="#product" class="product-more btn btn-bordered btn-bordered-green margin-top">
      Více o produktu
    </a>
  </div>
  <Fragment set:html={PlatformIcon} />
</div>
