---
import "./SmartThing.less";
---

<div class="smart-thing-wrapper text-center margin-bottom-large">
  <h2 class="margin-bottom-large">Další chytré funkce</h2>
  <div class="blocks">
    <div class="block">
      <p class="medium">
        <b class="uppercase">PŘÍMÉ PROPOJENÍ S CERTIFIKAČNÍ AUTORITU</b>
        <br />
         Přímá integrace na akreditovanou certifikační autoritu. Rychlé vydání
        za pár minut v sídle vaší společnosti.
      </p>
    </div>
    <div class="block">
      <p class="medium">
        <b class="uppercase">OBNOVA CERTIFIKÁTU NA 3 KLIKNUTÍ</b>
        <br />
         Intuitivní klientská aplikace zajišťující proces obnovy uživatelských
        certifikátů bez nutnosti další asistence.
      </p>
    </div>
    <div class="block">
      <p class="medium">
        <b class="uppercase">SMART PIN</b>
        <br />
         Zašifrovaný puk, uzamčený pin - automatizovaná vzdálená pomoc s
        uzamčeným pinem uživatele. Minimalizujete stres.
      </p>
    </div>
    <div class="block">
      <p class="medium">
        <b class="uppercase">E-MAIL NOTIFIKACE</b>
        <br />
         Automatické notifikace o stav certifikátů a aktuálních stavů
        uživatelských certifikátu a událostí. Víte co se děje.
      </p>
    </div>
  </div>
</div>
