---
import "./Contact.less";

import TragetIcon from "../../assets/imgs/target.svg?raw";
import MapIcon from "../../assets/imgs/map.svg?raw";
---

<div class="container margin-bottom-large">
  <div class="contact-wrapper">
    <h1 id="contact">Kontakt</h1>
    <div class="contact-container">
      <div class="contact-info">
        <p class="sub-text no-margin-bottom">
          Plánujete nový projekt? <br />
           Chcete digitalizovat procesy? <br />
           Rádi vám s tím pomůžeme.
        </p>
        <a class="btn btn-primary" href="mailto:info@certix.cz">
          My se vám ozveme
        </a>
      </div>
      <div class="contact-blocks">
        <div class="block">
          <Fragment set:html={TragetIcon} />
          <div class="block-content">
            <h4 class="no-margin-top">Email</h4>
            <span><a href="mailto:info@certix.cz">info@certix.cz</a></span>
            <h4>Telefon</h4>
            <span><a href="tel:+420777702599">+420 777 702 599</a></span>
          </div>
        </div>
        <div class="block">
          <Fragment set:html={MapIcon} />
          <div class="block-content">
            <h4 class="no-margin-top no-margin-bottom">Adresa</h4>
            <h4 class="no-margin-top plain">Certix s.r.o</h4>
            <p class="info">
              Štěpánská 61<br />
               Palác Lucerna<br />
               110 00 Prague 1, Czechia
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
