---
import Logo from "../../assets/imgs/logo-certix.svg?raw";
import Contact from "./Contact.astro";

import "./Footer.less";
---

<script src="../../scripts/footer/toTop.ts"></script>
<footer>
  <div class="container">
    <Contact />
  </div>
  <div class="content">
    <hr class="divider" />
    <div class="copyright-payment">
      
      <p>
        <span class="mobile-one-line">CERTIX s.r.o.</span>
        <span class="mobile-hide">,</span>
        <span class="mobile-hide">&nbsp;</span>
        <span class="mobile-one-line">IČ: 19713134</span>
        <span class="mobile-hide">,</span>
        <span class="mobile-hide">&nbsp;</span>
        <span class="mobile-one-line">DIČ: CZ19713134</span>
      </p>
    </div>
    <div class="footer-logo">
      <Fragment set:html={Logo} />
    </div>
  </div>
  <div
    id="to-top"
    aria-label="Zpět na začátek"
    title="Zpět na začátek"
    tabindex="0"
    role="button"
  >
    <span class="chevron"></span>
  </div>
</footer>
