.btn {
  position: relative;
  color: white;
  padding: var(--grid-gutter-small) var(--grid-gutter);
  line-height: var(--grid-gutter);
  display: inline-block;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: calc(var(--grid-gutter-smallest) / 2);
    border: 2px solid transparent; 
  }

  &:hover {
    color: white;
  }

  &-primary {
    color: var(--btn-primary-color);
    background-color: var(--btn-primary-bg-color);
    background-clip: padding-box;
    background-repeat:no-repeat;
    background-position: 0% 0%;
    border-radius: calc(var(--grid-gutter-smallest) / 2);

    &::before {
      border-color: var(--btn-primary-bg-color);
    }
    
    &:hover {
      background-color: var(--btn-primary-bg-over-color);
    }
  }
  
  &-bordered {
    &::before {
      content: '';
      border-color: var(--btn-color); 
    }
  

    &:hover {
      &::before {
        border-color: white;
      }
    }

    &-green {
      &::before {
        border-color: var(--base-green-color);
      }

      &:hover {
        &::before {
          border-color: var(--base-green-hover-color);
        }
      }
    }

    &-title {
      &::before {
        border-color: var(--base-title-color);
      }

      &:hover {
        color: var(--base-font-color);
        &::before {
          border-color: var(--base-title-color);
          border-color: var(--base-title-color);
        }
      }
    }
  }

  &-small {
    font-size: var(--font-14-size);
    line-height: var(--grid-14-gutter);
    padding: var(--grid-14-gutter-small) var(--grid-14-gutter);
  }
}
